<% layout('/layouts/boilerplate') %>

<div class="row mt-3">
    <div class="col-8 offset-2">  
        <h3>Edit your Listing</h3>
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input id="title" name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                <div class="valid-feedback">Title looks good!</div>
                <div class="invalid-feedback">Please input a valid Title</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" name="listing[description]" class="form-control"required><%= listing.description %></textarea>
                <div class="valid-feedback">Description looks good!</div>
                <div class="invalid-feedback">Please give some description</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input id="image" name="listing[image]" value="<%= listing.image %>" type="text" class="form-control"required/>
                <div class="valid-feedback">Image looks good!</div>
                <div class="invalid-feedback">Invalid Image</div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input id="price" name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
                    <div class="invalid-feedback">Please input a valid price</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input id="country" name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required/>
                    <div class="invalid-feedback">Please input a valid Country</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input id="location" name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required/>
                <div class="invalid-feedback">Please input a valid Location</div>
            </div>

            <button type="submit mt-3" class="btn btn-dark edit-btn">Edit</button>
        </form>
    </div>
</div>
<script> src="/js/script.js"</script>

//edit.ejs//