<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
    <div class="col-8 offset-3">
        <h3>Listing Details</h3>
    </div>
    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text">
                <b><%= listing.title %></b><br>
                <%= listing.description %><br>
                <% if (listing.price) { %>
                    $<%= listing.price.toLocaleString("en-US", { style: 'currency', currency: 'USD' }).replace('$', '') %>
                <% } else { %>
                    Price not available
                <% } %><br>
                <%= listing.location %><br>
                <%= listing.country %><br>
            </p>
        </div>
    </div>
    <br/>
    <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" style="display: inline;">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>
    <div class="col-8 offset-3 mb-3">
        <hr/>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range"/>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">
                    Please Add Some Comments
                </div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
        <hr/>
        <h4>All Reviews</h4>
        <div class="row">
        <% for (let review of listing.reviews) { %>
            <div class="card col-5 ms-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><%= review.comment %></p>
                    <p class="card-text"><%= review.rating %></p>
                </div>
                <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" class="mb-3">
                    <button class="btn btn-dark">Delete</button>
                </form>
            </div>
        <% } %>
        </div>
    </div>
</div>


//show.ejs//